@model FerryBookingSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Tạo tài khoản mới</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Tạo tài khoản mới để truy cập các tính năng bổ sung.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.FullName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" class="btn btn-primary" value="Đăng ký" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Lợi ích khi đăng ký</h3>
            </div>
            <div class="panel-body">
                <p>Bằng cách tạo tài khoản với hệ thống đặt vé tàu của chúng tôi, bạn sẽ được hưởng:</p>
                <ul>
                    <li>Dễ dàng truy cập lịch sử đặt vé của bạn</li>
                    <li>Quy trình đặt vé nhanh hơn - không cần nhập lại thông tin</li>
                    <li>Cập nhật về các ưu đãi và khuyến mãi đặc biệt</li>
                    <li>Thông báo email về các chuyến đi của bạn</li>
                    <li>Khả năng quản lý đặt vé trực tuyến</li>
                </ul>
                <hr />
                <p>Đã có tài khoản? @Html.ActionLink("Đăng nhập", "Login")</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}