@model FerryBookingSystem.Models.BookingOrder

@{
    ViewBag.Title = "Booking Complete";
    var isApiResult = ViewBag.ApiResult != null;
    dynamic bookingData = isApiResult ? ViewBag.ApiResult : Model;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Booking Confirmed!</h3>
                </div>
                <div class="panel-body">
                    <p>Your booking has been successfully confirmed.</p>

                    <div class="alert alert-success">
                        <h4>
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            Booking Code: <strong>@bookingData.BookingCode</strong>
                        </h4>
                    </div>

                    <h3>Booking Details</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>Order Number:</th>
                            <td>@(isApiResult ? bookingData.OrderNo : bookingData.OrderNo)</td>
                        </tr>
                        <tr>
                            <th>Customer Name:</th>
                            <td>@(isApiResult ? bookingData.CustomerName : bookingData.Booker)</td>
                        </tr>
                        <tr>
                            <th>Contact Information:</th>
                            <td>
                                @(isApiResult ? bookingData.PhoneNumber : bookingData.ContactNo)<br />
                                @(isApiResult ? bookingData.Email : bookingData.Email)
                            </td>
                        </tr>
                        <tr>
                            <th>Total Amount:</th>
                            <td>@(isApiResult ? bookingData.Total : bookingData.TotalAmount).ToString("N0") VND</td>
                        </tr>
                        <tr>
                            <th>Payment Status:</th>
                            <td>
                                <span class="label label-success">
                                    @(isApiResult ? bookingData.PaymentStatus : bookingData.PaymentStatus)
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Additional booking details here -->

    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Home</a>
            <a href="javascript:window.print();" class="btn btn-default">
                <span class="glyphicon glyphicon-print"></span> Print
            </a>
        </div>
    </div>
</div>